body{
    background-color: #737373;
}

header h1{
font-size: 30px;
text-align: center;
color: #ff5ddc;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header h5, p{
    font-size: 20px;
    text-align: center;
    color: #db66c6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Leonas{
    display: flex;
    justify-content: center;
}
.Jankunas a{
    text-decoration: none;
    font-size: 30px;
    color: #ff5ddc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Jankunas img{
    width: 400px;
    align-items: center;
    justify-content: center;
}
.Barrionuevo a{
    text-decoration: none;
    font-size: 30px;
    color: #ff5ddc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Barrionuevo img{
    width: 400px;
    align-items: center;
}

.TitleProductos{
    font-size: 30px;
    text-align: center;
    padding: 25px;
    color: #ff5ddc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ProductosContainer{
    display: flex;
    justify-content: center;
}
.Productos{
    font-size: 30px;
    text-align: center;
    padding: 25px;
    color: #ff5ddc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ProductosSecond{
    display: inline-block;
    width: 15%;
    position: relative;
    margin: 10px 20px;
    font-size: 25px;
    text-align: center;
}
.ProductosSecond img{
    display: inline-block;
    width: 30%;
    position: relative;
    margin: 10px 20px;
    width: 150px;
    text-align: center;
}
.Recomendaciones h3{
    font-size: 30px;
    text-align: center;
    padding: 25px;
    color: #d7dfd7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Recomendaciones nav a{
    text-decoration: none;
    margin: auto;
    padding: 60px;
    font-size: 20px;
    color: #ff5ddc;
}